
<div class="jumbotron"> 
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Average Check</label>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="filters.averageCheckFrom" class="form-control" placeholder="from"/>
        </div>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="filters.averageCheckTo" class="form-control" placeholder="to"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Number Of Seats</label>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="filters.numberOfSeatsFrom" class="form-control" placeholder="from"/>
        </div>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="filters.numberOfSeatsTo" class="form-control" placeholder="to"/>
        </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Has Wifi</label>
      <div class="form-check form-check-inline">
          <input (click)="deleteWifi()" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" [checked]="filters.hasWifi == null">
          <label class="form-check-label" for="inlineRadio3">All</label>
      </div>
      <div class="form-check form-check-inline">
          <input (click)="setWifi(true)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
          <label class="form-check-label" for="inlineRadio1">Yes</label>
      </div>

      <div class="form-check form-check-inline">
          <input (click)="setWifi(false)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2">
          <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
      
    </div>

    <hr/>

    <div class="row">
        <button (click)="onFiltersApply()" class="btn btn-primary mr-1">Apply</button>
        <button (click)="onFiltersReset()" class="btn btn-success">Reset</button>
    </div>
</div>

<div class="col-sm-12">
    <div #gmap style="width:100%;height:400px"></div>
</div>

<div class="col-sm-12 mt-2">

  <div class="float-left">
      <div class="form-group row">
          <label class="col-form-label mr-1">List Size</label>
          <div>
              <select class="form-control" (change)="onSizeSelect($event.target.value)">
                  <option value="5" [selected]="pagination.size == 5">5</option>
                  <option value="10"[selected]="pagination.size == 10">10</option>
                  <option value="20"[selected]="pagination.size == 20">20</option>
              </select>
          </div>

          <label class="col-form-label ml-3 mr-1">Sort by</label>
            <div>
                <select class="form-control" (change)="onSortSelect($event.target.value)">
                    <option value="priceAsc">Price Ascending</option>
                    <option value="priceDesc">Price Descending</option>
                    <option value="dateDesc" selected="true">Newest First</option>
                    <option value="dateAsc">Oldest First</option>
                </select>
          
      </div>
    </div>
  </div>

  <div class="float-right">
      <button class="btn btn btn-primary" routerLink="/create" *ngIf="auth.roleMatch(['ADMIN', 'REALTOR'])">
          <span class="fa fa-plus"></span>
          Add New
      </button>
  </div>      
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Average Check</th>
        <th scope="col">Number Of Seats</th>
        <th scope="col">Added date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurant of restaurants">
        <th scope="row">{{restaurant.id}}</th>
        <td>{{restaurant.name}}</td>
        <td>{{restaurant.averageCheck}}</td>
        <td>{{restaurant.numberOfSeats}}</td>
        <td>{{restaurant.createdAt | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
        <td>
          <a class="btn btn-primary" routerLink="/detail/{{restaurant.id}}" role="button">
            View
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination">
      <li class="page-item" *ngIf="pagination.hasPrev">
        <a class="page-link" (click)="onPrevPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" 
      *ngFor="let index of pagination.range"
      [class.active]="pagination.currentPage == index">
        <a class="page-link" 
        (click)="onPageSelect(index)">{{index}}</a>
      </li>
      <li class="page-item" *ngIf="pagination.hasNext">
        <a class="page-link" (click)="onNextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>