<div class="col-sm-12">

    <div class="float-left">
        <div class="form-group row">
            <label class="col-form-label mr-1">List Size</label>
            <div>
                <select class="form-control" (change)="onSizeSelect($event.target.value)">
                    <option value="5" [selected]="pagination.size == 5">5</option>
                    <option value="10"[selected]="pagination.size == 10">10</option>
                    <option value="20"[selected]="pagination.size == 20">20</option>
                </select>
            </div>
        </div>
    </div>
  
    <div class="float-right">
        <button class="btn btn btn-primary" routerLink="/new-user">
            <span class="fa fa-plus"></span>
            Add New
        </button>
    </div>      
  </div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Login</th>
        <th scope="col">Role Type</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.login}}</td>
        <td>{{user.roleType}}</td>
        <td>
          <a class="btn btn-primary" routerLink="/user-detail/{{user.id}}" role="button">
            View
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination">
      <li class="page-item" *ngIf="pagination.hasPrev">
        <a class="page-link" (click)="onPrevPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" 
      *ngFor="let index of pagination.range"
      [class.active]="pagination.currentPage == index">
        <a class="page-link" 
        (click)="onPageSelect(index)">{{index}}</a>
      </li>
      <li class="page-item" *ngIf="pagination.hasNext">
        <a class="page-link" (click)="onNextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>